// variables
$white-primary: #fffffa;
$white-secondary: #f7f8f7;

// reset
* {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

// style
body {
    background-color: $white-primary;
}
