.room {
    display: grid;
    grid-template-areas: "users drawing" "chat chat";

    grid-template-columns: auto 1fr;

    row-gap: 16px;
    column-gap: 16px;

    padding: 34px;

    /* background-color: rgba(247, 248, 246); */
}

.room-users {
    grid-area: users;
}

.room-users,
.room-chat,
.room-drawing {
    background: #ffffff;
    /* padding: 8px 12px; */
    padding: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    border-radius: 8px;
}

.room-drawing {
    grid-area: drawing;
}

.room-chat {
    grid-area: chat;
}
